version: 2
jobs:
  build:
    working_directory: ~/myapp
    docker:
      - image: cimg/node:19.8-browsers
    steps:
      - checkout
      - restore_cache:
          key: myapp-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: myapp-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run: echo "Building for PROD"
      - run: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            npm run build-gh
          else
            npm -v
          fi
      - persist_to_workspace:
          root: ~/myapp
          paths:
            - build/*
  deploy:
    working_directory: ~/myapp
    docker:
      - image: node:19.8
    steps:
      - add_ssh_keys:
          fingerprints:
            - '72:7c:8d:f9:df:b3:3b:6a:a0:b8:fb:11:61:c4:7f:d2'
      - checkout
      - attach_workspace:
          at: ~/myapp
      - run:
          name: Install gh-pages
          command: |
            npm install -g --silent gh-pages
      - run:
          name: Configure git
          command: |
            git config user.email "circleci@example.com"
            git config user.name "CircleCi"
      - run:
          name: Deploy to gh-pages branch
          command: gh-pages --message "[ci skip]" -d build/
  deployfb:
    working_directory: ~/myapp
    docker:
      - image: node:19.8
    steps:
      - run:
        name: Install firebase
        command: |
          npm install -g --silent firebase-tools
      - run:
          name: Deploy Main to Firebase
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN

workflows:
  version: 2
  build_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - deployfb:
          requires:
            - build
          filters:
            branches:
              only: master
  
